<a href="https://colab.research.google.com/github/wataridmm/practice/blob/main/pandas_editor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas exercises


1. データの読み込み方法について学習します。(2問)
2. データの状態を確認する方法について学習します。（11問）
3. データの条件を指定する方法について学習します。（11問）
4. データの集計方法について学習します。（7問）
5. データの整形方法について学習します。（13問）
6. 文字列の整形について学習します。（6問）

### 0. 事前準備

#### 0.1 「pandasをpd、numpyをnpと読み込んでください。」

In [3]:
import pandas as pd
import numpy as np

#### 0.2 「次のコードを実行してください。※data変数に格納してください。」

In [4]:
data = pd.DataFrame({'name': ['A', 'B', 'C', 'D'], '数学': [80, 15, 90, 50], '英語': [80, 70, 50, 65],
                    '国語': [ 90, 60, 60,  60]})

#### 0.3 「次のコードを実行してください。※e_data変数に格納してください。」

In [5]:
e_data = pd.DataFrame({'name':'E','国語':[30],'数学':[30],'英語':[30]})

#### 0.4 「次のコードを実行してください。※data_2変数に格納してください。」

In [6]:
data_2 = pd.DataFrame({'name': ['A', 'B', 'C', 'D','D'], '国語-数学': ["30:20", np.NAN, "90:50", "50:30", "50:30"], '英語': ["80.2","60.5","34,2",0,0]})

#### 0.5 「次のコードを実行してください。※data_3変数に格納してください。」

In [7]:
data_3 = pd.DataFrame({'name': ['A', 'B', 'C', 'D'],
                     '性別': ['男性', '男性', '女性', '男性'],
                     '経歴': ['学部卒', '修士卒', '学部卒', '博士卒'],
                     '特技': ['ボーリング', '野球', 'サッカー', '野球をやっていた']})

### 1. データを読み込む方法について学習します。（2問）

#### 1.1 「data変数を現在のディレクトリ配下に「a.csv」という名前で保存してください。」

In [8]:
data.to_csv('./a.csv',index=False)

#### 1.2「「a.csv」というファイルを読み込み、dataという名前の変数に格納してください。」

In [9]:
data = pd.read_csv('./a.csv',index_col= False)

### 2.データの状態を確認する方法について学習します。（11問）

#### 2.1 「data変数のデータ形式を表示してください。」

In [11]:
type(data)

pandas.core.frame.DataFrame

#### 2.2 「pandasでSeries型データを作成して、データ形式を確認してください。※Seriesの中身は何でも良いです。」

In [12]:
Series = pd.Series([1,3,5])
type(Series)

pandas.core.series.Series

#### 2.3 「pandasでDataFrame型データを作成して、データ形式を確認してください。※DataFrameの中身は何でも良いです。」

In [18]:
DataFrame = pd.DataFrame([2,4,6])
type(DataFrame)

pandas.core.frame.DataFrame

#### 2.4 「data変数の行と列を表示してください。」

In [23]:
data.shape

(4, 4)

#### 2.5 「data変数の上から2行表示してください。」

In [26]:
data.head(2)

  name  数学  英語  国語
0    A  80  80  90
1    B  15  70  60

#### 2.6 「data変数の下から3行表示してください。」

In [29]:
data.tail(3)

  name  数学  英語  国語
1    B  15  70  60
2    C  90  50  60
3    D  50  65  60

#### 2.7 「data変数のカラムを表示してください。」

#### 2.8 「data変数のインデックスを表示してください。」

#### 2.9 「data変数の各カラムのdata型を表示してください。」

#### 2.10 「data変数の各カラムのユニーク数を表示してください。」

#### 2.11 「data変数の各インデックスのユニーク数を表示してください。」

### 3.データの条件を指定する方法について学習します。（11問）

#### 3.1 「data変数の上から4行目のデータを表示してください。」

#### 3.2 「data変数の中で国語が70点以上の人を表示してください。」

#### 3.3 「data変数の中で数学が30点未満の人を表示してください。」

#### 3.4 「data変数の中で国語が60点ピッタリの人が何人いるか表示してください。」

#### 3.5 「data変数の中で数学が50点以上の人が何人いるか表示してください。」

#### 3.6「data変数の中で国語の点数が1番高い人を表示してください。」

#### 3.7 「data変数の中で全ての人の国語の点数を表示してください。」

#### 3.8 「data変数の中で全ての人の国語と数学の点数を表示してください。」

#### 3.9 「data変数のカラムの情報を確認してください。」

#### 3.10 「data変数の中で2行目と3行目のみ表示してください。(indexは0番目が1行目であることに注意)」

#### 3.11 「data変数の中で2行目と3行目且つ0列目と1列目を表示してください。(indexは0番目が1行目であることに注意)」

### 4. データの集計方法について学習します。（7問）

#### 4.1 「dataの下にe_dataを連結させて下さい。dataの中身を確認してください。」

#### 4.2 「dataのindexを振り直してください。」

#### 4.3 「dataの各カラムの合計値を表示して下さい。」

#### 4.4 「dataの各行の合計値を表示して下さい。」

#### 4.5 「dataの各行の平均値を表示して下さい。」

#### 4.6 「data変数のカラムの統計量を算出してください。（小数点第1桁まで）」

#### 4.7 「data変数の中の各カラムの相関係数を算出してください。」

### 5. データの整形方法について学習します。（13問）

#### 5.1 「data変数の数学カラムのユニーク値を表示してください。」

#### 5.2 「data変数の中で数学カラムの中に重複がないことを確認してください。（等式を作成してください。）」

#### 5.3 「data変数の中で国語カラムの中に重複があることを確認してください。（等式を作成してください。）」

#### 5.4 「data変数の中で国語の点数が60点の人が3人います。重複レコードを削除してください。」

#### 5.5 「data_2を表示して下さい。」

#### 5.6 「名前の行に重複が見られます。その行を削除してください。」

#### 5.7 「国語-数学の列を国語と数学に分けた列を作成してください。」

#### 5.8 「name、英語、国語、数学以外の列を削除してください。」

#### 5.9 「Cの英語の点数にカンマが入っています。小数点になおしてください。」

#### 5.10 「data_2の各列の型(クラス、数字や文字列などの情報)を表示して下さい。」

#### 5.11 「英語、国語、数学を数値型に変更し、データ型が変換されたことを確認してください。」

#### 5.12 「欠損値がある行を表示して下さい。」

#### 5.13 「欠損をもつ行を取り除いて下さい。」

### 6.文字列の処理（6問）

#### 6.1 「data_3を確認して下さい。」

#### 6.2 「経歴が、'学部卒'で終わる行を表示して下さい。」

#### 6.3 「性別が、'女'から始まる行を表示して下さい。」

#### 6.4 「特技が'野球'を含む行を表示して下さい。」

#### 6.5 「経歴の'卒'を削除して下さい。」

#### 6.6 「特技の'野球をやっていた'の「をやっていた」を削除して下さい。」